html, body {
	font-size: 16px;
}

html {
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Lato", sans-serif;
}

a, a:visited {
	color: #ddd;
	filter: drop-shadow(1px 1px 1px #999);
}

a:hover {
	color: #000;
	filter: drop-shadow(1px 1px 1px #ddd);
}

.content-container {
	position: fixed;
	right: 42px;
	bottom: 42px;
	text-align: right;
	font-size: 3rem;
	letter-spacing: .013em;
	line-height: 1.125;
}

.headline {
	margin-bottom: 16px;
	filter: drop-shadow(1px 1px 10px #eee);
}

.headline .smaller {
	font-size: 2rem;
}

.content-container a {
	font-size: 2.5rem;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
